.pio
.pioenvs
.piolibdeps
.vscode
!.vscode/extensions.json
/wled00/Release
/wled00/extLibs
/platformio_override.ini
.DS_Store
.gitignore
.clang-format
node_modules
.cproject
.project

# We don't use these iconfont-files
icons/iconfont/iconfont.eot
icons/iconfont/iconfont.svg
icons/iconfont/iconfont.ttf
icons/iconfont/iconfont.woff2
